<!DOCTYPE html>
<html lang="en">
<head>

  {% include 'meta.html' %}
  <link rel="icon" href="../../favicon.ico">

  <title>{% block head_title  %}Instagram Clone{% endblock %}</title>

  {% include 'head_css.html' %}
  {% include "javascript.html" %}

</head>

<body>
  <!-- Static navbar -->
  {% include 'navbar.html' %}
<!-- or request.user.is_staff -->
  {% if user.is_authenticated|lower == 'false' or user.is_staff|lower == 'true' %}
        {% block contentguest %}
        {% endblock %}
  {% else %}
    {% block content %}
    {% endblock %}
  {% endif %}
</body>
</html>
