{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block contentauth %}
<div class="container">
</br>
</br>
</br>
{% if queryset %}
      <div class="row">
        <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{queryset.username}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">

                
                <div class=" col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1 "> 
                  <table class="table table-user-information">
                    <tbody>

                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{ queryset.email }}">{{ queryset.email }}</a></td>
                      </tr>
                      <tr>
                        <td>Last Login</td>
                        <td>{{ queryset.last_login }}</td>
                      </tr>
                      <tr>
                        <td>Date Joined</td>
                        <td>{{queryset.date_joined }}</td>
                      </tr>
                    </tbody>
                  </table>
                  
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
{% endif %}

<h2>All Posts</h2>
</div>
{% endblock %}