
{% load crispy_forms_tags %}

{% block profile %}
<div class="container">
{% if queryset %}
      <div class="row">
        <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
             <table><tr><td><h3 class="panel-title pull-left">{{queryset.username}} &nbsp;&nbsp; </h3> </td><td align="right">

             {% if hasfollowed == 1 %}

                <a id="submit1" class="btn btn-default pull-right" disabled="disabled">Followed</a>
{% elif hasfollowed == 2 %}
  <a href="{% url 'followby' queryset.username %}" id="submit1" class="btn btn-default pull-right">Follow</a>
{% endif %}


             </td></tr></table>
            </div>
            <div class="panel-body">
              <div class="row">

                
                <div class=" col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1 "> 
                  <table class="table table-user-information">
                    <tbody>

                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{ queryset.email }}">{{ queryset.email }}</a></td>
                      </tr>
                      <tr>
                        <td>Last Login</td>
                        <td>{{ queryset.last_login }}</td>
                      </tr>
                      <tr>
                        <td>Date Joined</td>
                        <td>{{queryset.date_joined }}</td>
                      </tr>
                    </tbody>
                  </table>
                  
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
{% endif %}


<h2>All Posts</h2>
</div>
{% endblock %}