{% extends "base/base1.html" %}

{% block title %}Account activation complete{% endblock %}
{% block body_class %}{{ block.super }} registration_activation_complete{% endblock %}


{% block content_title %}
  <h3>Account activation complete</h3>
{% endblock %}


{% block content %}
<div class="formBlock">
  <p style="font-size: 16px;">Congratulations, your account with NoobMovies has been activated.</p>
  <p style="font-size: 16px;">You're ready to <a href="http://www.noobmovies.com/accounts/login/">Log In</a>.</p>
</div>

{% endblock %}
