{% extends "tbase/base1.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}
<div class="formBlock">
<form method="post" action=".">{% csrf_token %}

   <label>Password:</label><br /><br />
  {{ form.new_password1 }}<br /><br />

   <label>Password (again):</label><br /><br />
  {{ form.new_password2 }}<br /><br />

  <input type="submit" value="{% trans 'Submit' %}" class="updateButton" style="width: 125px; height: 30px; padding-top: 5px; padding-bottom: 5px; line-height: 20px; color: #fff;"  />
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}
</div>
{% endblock %}
